<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <ul>
        <% for(var i=0; i<data.length; i++) {%>
        <li><%= data[i].Category %> <a href="<%= data[i].Url %>"><%= data[i].Title %></a></li>
        <%}%>
        </ul>
    </body>
</html>
